#encoding:UTF-8 
 <li>       
 <%= gravatar_for user, size: 30 %>
 <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "删除", user, method: :delete, confirm: "确定删除?" %>
    
 </li>
<% end %>
