<footer class="footer">
  <small>
    <a href="http://github.com/yeyong14/">github</a>
    by Yeh kevin!
  </small>
    <nav>
      <ul>
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><a href="http://yehkevin.herokuapp.com">Heroku</a></li>
      </ul>
    </nav>
</footer>
